/* GENERAL CSS */

body {
  margin: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 6%;
  margin-right: 6%;
}
/* =============================================================== */
/* ALL CAMPUSES PAGE */

#campusListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.campusTab {
  width: 400px;
  height: 225px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: black solid 1px;
  margin-bottom: 1rem;
}

.campusTab > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 1rem;
  justify-content: space-between;
}

.campusTab div p:first-child {
  font-size: 1.5rem;
}

.campusTab > div div div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* =============================================================== */
/* ALL STUDENTS PAGE */

#studentListing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.studentTab {
  width: 225px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: black solid 1px;
  margin-bottom: 1rem;
  align-items: center;
}

.studentTab div {
  margin: 0.5rem;
}

/* =============================================================== */
/* SINGLE CAMPUS PAGE */

#singleCampus {
  display: flex;
  width: 90%;
  justify-content: center;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  border: black 1px solid;
}

#singleCampus div {
  margin: 1rem;
}

#singleCampus div:first-child {
  align-self: center;
}

#singleCampus div div {
  display: flex;
  justify-content: flex-end;
}

/* =============================================================== */
/* SINGLE STUDENT PAGE */

#singleStudent {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 1rem;
  border: black 1px solid;
}

#singleStudent div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1rem;
}

#singleStudent div div:first-child {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

#singleStudent div div:nth-child(2) {
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  align-self: flex-end;
}

#singleStudentCampus {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#campusSelect {
  display: flex;
  align-items: center;
}

/* =============================================================== */
/* ADD CAMPUS PAGE */

#newCampusForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: black 1px solid;
}

#newCampusForm input {
  display: flex;
  height: 1.5rem;
  flex: 2;
}

#newCampusForm label {
  display: flex;
  flex: 1;
  margin-left: 1rem;
}

#newCampusForm div {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

#newCampusForm textarea {
  display: flex;
  height: 8rem;
  flex: 2;
}

/* =============================================================== */
/* ADD STUDENT PAGE */

#newStudentForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border: black 1px solid;
}

#newStudentForm input {
  display: flex;
  height: 1.5rem;
  flex: 2;
}

#newStudentForm label {
  display: flex;
  flex: 1;
  margin-left: 1rem;
}

#newStudentForm div {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

#newStudentForm textarea {
  display: flex;
  height: 8rem;
  flex: 2;
}
